.blog {
    background: $white-shade;
}

// Header Styles

.header-blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
}

.header-blog h1 {
    position: absolute;
    bottom: -107px;
    left: 150px;
    text-transform: uppercase;
}

// Section styles

.main-blog {
    display: flex;
}

.col1 {
    margin-right: 10px;
}

.col2 {
    margin-left: 10px;
}
