.blog {
    background: $white-shade;
}

// Header Styles

.header-blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
}

.header-blog h1 {
    position: absolute;
    bottom: -107px;
    left: 150px;
    text-transform: uppercase;
}

// Section styles

.main-blog {
    display: flex;
}

.col1 {
    margin-right: 20px;
}

.col2 {
    margin-left: 10px;
}

.blog-image {
    background: white;
    padding: 20px;
}

.recent-posts {
    background: white;
    margin-top: 10px;
    padding-bottom: 20px;
}

.recent-posts h3 {
    text-transform: uppercase;
    padding: 20px 0 0 20px;
}

.recent-posts li::before {
    content: '•';
    color: $orangey-yellow;
    padding-right: 10px;
}

.recent-posts li {
    line-height: 1.5;
}

article {
    background: white;
    border-bottom: 4px solid $orangey-yellow;
    margin-bottom: 20px;
    padding: 20px 10px 20px 10px;
    width: 750px;
}

span {
    color: $dark-grey-blue;
}


.review1,
.review2 {
    background: white;
    padding: 20px;
    width: 750px;
    
}

.review1 {
    margin-bottom: 20px;
    display: flex;
}

.review2 {
    display: flex;
    border-bottom: 4px solid $orangey-yellow;
    margin-bottom: 20px;
}

.review1 img,
.review2 img {
    flex-basis: 280px;
    height: 80px;
    margin: 20px 15px 0 20px;
}

.review1-content,
.review2-content {
    margin-top: 20px;
}

.review1-content h4,
.review2-content h4 {
    color: $dark-grey-blue;
}

