.contact {
    background: $white-shade;
}

// Header Styles

.header-contact {
    background-image: url(../assets/contact-image-1.jpg);
    // Object fit?
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
}

.header-contact h1 {
    position: absolute;
    bottom: -100px;
    left: 150px;
    text-transform: uppercase;
}

// Section Styles

.body-contact {
    display: flex;
    justify-content: center;
}

.contact-info {
    padding: 30px;
    margin-right: 20px;
    background: white;
    margin-bottom: 125px;
}

.contact-info i {
    color: $orangey-yellow;
    font-size: 2rem;
    padding-right: 20px;
}

.info-email {
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.contact-info p {
    line-height: .3;
}

input[type=text] {
    display: flex;
}