.contact {
    background: $white-shade;
}

// Header Styles

.header-contact {
    background-image: url(../assets/contact-image-1.jpg);
    // Object fit?
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
}

.header-contact h1 {
    position: absolute;
    bottom: -100px;
    left: 150px;
    text-transform: uppercase;
}

// Section Styles

.body-contact {
    display: flex;
    width: 100%;
}

.contact-info {
    padding: 30px;
    margin-right: 30px;
    background: white;
    height: 250px;
    width: 35%;
}

.get-in-touch {
    width: 100%;
    margin-right: 80px;
}

.contact-info i {
    color: $orangey-yellow;
    font-size: 2rem;
    padding-right: 20px;
}

.info-email {
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.contact-info p {
    line-height: .3;
    font-size: 1.6rem;
}

@media (max-width: 940px) {
}


@media (max-width: 768px) {
    .header-contact h1 {
        bottom: 100px;
        left: 80px;
        text-transform: uppercase;
}
    .body-contact {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 30px;
        width: 100%;
}
    form {
        width: 100%;
    }

}


@media (max-width: 480px) {
    
}