// Header Styles

.header-index {
    background-color: $orangey-yellow;
    height: 65vh;
}

header {
    position: relative;
}

.circle-text {
    position: absolute;
    top: 200px;
    left: 100px;
}

.header-image img {
    height: 600px;
    width: 400px;
}

.header-image {
    position: absolute;
    right: 100px;
    top: 100px;
    box-shadow: 20px 20px white;
}

.header-index h1 {
    padding-left: 70px;
    padding-top: 170px;
}

// Section Styles

.who {
    padding: 80px 150px 80px 150px;
    background: $white-shade;
    height: 300px;
}

.who a,
.dog-favourites a,
.where-travelled a,
.journey a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $accent;
    padding: 10px 20px 10px 20px;
    color: $black;
}

.dog-favourites {
    display: flex;
}

.dog-image {
    // box-shadow: -20px -20px $rust-red;
    background: $rust-red;
}

.dog-image img {
    padding-left: 100px;
    width: 600px;
}

.favourite-things {
    padding: 50px 100px 50px 50px;
}

.umbrellas-travelled {
    display: flex;
}

.where-travelled {
    padding: 50px 100px 50px 50px;
    text-align: right;
}

.beach-chair-image {
    // box-shadow: 20px 20px $orangey-yellow;
    background: $orangey-yellow;
    
}

.beach-chair-image img {
    width: 600px;
    padding-right: 100px;
}

.font-awesome {
    background: $white-shade;
    padding: 100px 0 100px 0;
}

.font-awesome i {
    font-size: 2rem;
    background: $orangey-yellow;
    padding: 10px;
    border-radius: 50%;
}

.font-awesome1 {
    display: flex;
    justify-content: center;
}

.top-row,
.bottom-row {
    width: 400px;
}

.font-awesome2 {
    display: flex;
    justify-content: center;
}

.arena img {
    height: 400px;
    width: 100%;
}

.journey-section {
    display: flex;
    justify-content: center;
    background: $white-shade;
    padding: 80px 0 80px 0;
}

.journey-image {
    margin-left: 100px;
    box-shadow: 20px 20px $orangey-yellow;
    
}

.journey {
    padding: 50px 100px 50px 50px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}