i.fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    visibility: hidden;
}

#check {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: $orangey-yellow;
    margin: 0;
}

.menu-items {
    list-style: none;
    padding: 20px 10px;
    font-size: 1.8rem;
    font-family: $main-font;
    & a {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.menu-items a:hover,
.menu-items a:focus {
    color: white;
}

.menu-items-white a {
    color: white;
}

.sophie {
    padding: 8px 20px 10px 20px;
    font-size: 4rem;
    text-transform: uppercase;
}

@media (max-width: 940px) {
}


@media (max-width: 768px) {
    i.fa-bars{
        visibility: visible;
        font-size: 3rem;
        transform: scale(1.5,1);
        color: $black;
    }

    input:checked + nav {
        display: block;
    }

    #check {
        position: absolute;
        left: -100000px;
    }

    header nav {
        position: absolute;
        top: 60px;
        right: 0;
        padding: 20px;
        display: none;
    }
}


@media (max-width: 480px) {
    

}


