.menu {
    display: flex;
    justify-content: center;
    background-color: $orangey-yellow;
    margin: 0;
}

.menu-items {
    list-style: none;
    padding: 10px;
    font-size: 2rem;
    // font-family: $main-font;
    & a {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
    }
}


