@import 'setup';
@import 'utils';
@import 'nav';
@import 'index';
@import 'blog';
@import 'contact';
@import 'footer';



// Global Styles

// * {
//     border: 1px solid $black;
// }

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
}


.wrapper {
    width: 1280px;
    max-width: 85%;
    margin: 0 auto;
}

li {
    list-style: none;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

// form {
//     margin: auto;
// }

input {
    width: 48.5%;
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    margin-right: 5px;
}

textarea {
    width: 98.5%;
    resize: none;
    border: none;
    padding: 20px;
}

button {
    width: 98.5%;
    margin: 10px 0 80px 0;
    background: $accent;
    height: 30px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}