html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

i.fa-bars {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 3rem;
  visibility: hidden;
}

#check {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6a823;
  margin: 0;
}

.menu-items {
  list-style: none;
  padding: 10px;
  font-size: 2rem;
}

.menu-items a {
  color: #2c2c2c;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  i.fa-bars {
    visibility: visible;
    font-size: 3rem;
    -webkit-transform: scale(1.5, 1);
            transform: scale(1.5, 1);
    color: #2c2c2c;
  }
  input:checked + nav {
    display: block;
  }
  #check {
    position: absolute;
    left: -100000px;
  }
  header nav {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px;
    display: none;
  }
}

.header-index {
  background-color: #f6a823;
  height: 65vh;
}

header {
  position: relative;
}

.circle-text {
  position: absolute;
  top: 200px;
  left: 100px;
}

.header-image img {
  height: 600px;
  width: 400px;
}

.header-image {
  position: absolute;
  right: 100px;
  top: 100px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.header-index h1 {
  padding-left: 70px;
  padding-top: 170px;
}

.who {
  padding: 80px 150px 80px 150px;
  background: #f0efed;
  height: 300px;
}

.who a,
.dog-favourites a,
.where-travelled a,
.journey a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #05afc1;
  padding: 10px 20px 10px 20px;
  color: #2c2c2c;
}

.dog-favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dog-image {
  background: #a82706;
}

.dog-image img {
  padding-left: 100px;
  width: 600px;
}

.favourite-things {
  padding: 50px 100px 50px 50px;
}

.umbrellas-travelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.where-travelled {
  padding: 50px 100px 50px 50px;
  text-align: right;
}

.beach-chair-image {
  background: #f6a823;
}

.beach-chair-image img {
  width: 600px;
  padding-right: 100px;
}

.font-awesome {
  background: #f0efed;
  padding: 100px 0 100px 0;
}

.font-awesome i {
  font-size: 2rem;
  background: #f6a823;
  padding: 10px;
  border-radius: 50%;
}

.font-awesome1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-row,
.bottom-row {
  width: 400px;
}

.font-awesome2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arena img {
  height: 400px;
  width: 100%;
}

.journey-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0efed;
  padding: 80px 0 80px 0;
}

.journey-image {
  margin-left: 100px;
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}

.journey {
  padding: 50px 100px 50px 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog {
  background: #f0efed;
}

.header-blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  margin-bottom: 80px;
}

.header-blog h1 {
  position: absolute;
  bottom: -107px;
  left: 150px;
  text-transform: uppercase;
}

.main-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col1 {
  margin-right: 10px;
}

.col2 {
  margin-left: 10px;
}

.blog-image {
  background: white;
  padding: 20px;
}

.recent-posts {
  background: white;
  margin-top: 10px;
}

article {
  background: white;
  border-bottom: 4px solid #f6a823;
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
}

.review1,
.review2 {
  background: white;
  padding: 20px;
}

.review1 {
  margin-bottom: 20px;
}

.review2 {
  border-bottom: 4px solid #f6a823;
  margin-bottom: 20px;
}

.contact {
  background: #f0efed;
}

.header-contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  margin-bottom: 80px;
}

.header-contact h1 {
  position: absolute;
  bottom: -100px;
  left: 150px;
  text-transform: uppercase;
}

.body-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info {
  padding: 30px;
  margin-right: 30px;
  background: white;
  margin-bottom: 125px;
}

.contact-info i {
  color: #f6a823;
  font-size: 2rem;
  padding-right: 20px;
}

.info-email {
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.contact-info p {
  line-height: .3;
}

@media (max-width: 480px) {
  .header-contact h1 {
    bottom: 100px;
    left: 80px;
    text-transform: uppercase;
  }
  .body-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info {
    margin-bottom: 30px;
    width: 100%;
  }
}

footer {
  background-color: #2c2c2c;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: #f0efed;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1280px;
  max-width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;
}

p {
  font-size: 2rem;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
}

h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

input {
  width: 48.5%;
  height: 50px;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  margin-right: 5px;
}

textarea {
  width: 98.5%;
  resize: none;
  border: none;
  padding: 20px;
}

button {
  width: 98.5%;
  margin: 10px 0 80px 0;
  background: #05afc1;
  height: 30px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}
